.onoffswitch {
    position: relative; width: 125px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #C9C3C3; border-radius: 19px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 15px; font-weight: bold; color: white; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Permanent";
    padding-left: 15px;
    background-color: #428bca; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Cheap";
    padding-right: 15px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 17px; margin: 3.5px;
    background: #FFFFFF;
    border: 1px solid #C9C3C3; border-radius: 19px;
    position: absolute; top: 0; bottom: 0; right: 97px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
