{% extends 'base.html' %}
{% block main %}
<div id="title">
    <div class="row">
        <h2 id=ask>Create a post in the block chain!</h2>
        <div class="row how-btn">
            <div class="col-md-12">
                <a href="{{ url_for('editor') }}"><button class="btn btn-primary">Show me How!</button></a>
            </div>
        </div>
        <h4>It'll show up here at some point.</h4> 
        <h4>Only {{ coin | truncate(5, True, "") }} ฿ Left to spend!</h4>
        <h5><em>These are testnet bitcoins, relax</em></h5>


        <h4>Or formulate your own cool bulletin! <a href="{{ url_for('static', filename='bulletin.html') }}">Here!</a></h4>
    </div>
</div>
<div id="post-list">
    {% from 'common.html' import inline %}
    {% for post in posts %}
    <div class="row post-inline">
            {{ inline(post) }}
    </div>
    {% endfor %}
</div>
{% endblock main %}
